body{
    width: 500px;
    margin: 0 auto;
    
}
ul{
    list-style: none;
    color: rgb(61,125,202)
}

.pokemon-container{
    max-width: 100%;
    min-width: 20%;
    
}


h1{
    text-align: center;
}

.styling:hover {
    background-color: rgb(255,203,5);
}
.styling{
    border-color: rgb(0,58,112);
    background-color: teal;
    text-align: center;
    width: 100%;
    height: 60px;
};

li{
    color: rgb(61,125,202)
}
